<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="WebCrawlerService">
        <wb-resource deploy-path="/" source-path="/target/m2e-jee/web-resources"/>
        <wb-resource deploy-path="/" source-path="/WebRoot" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/resources"/>
        <property name="context-root" value="WebCrawlerService"/>
        <property name="java-output-path" value="/WebCrawlerService/WebRoot/WEB-INF/classes"/>
    </wb-module>
</project-modules>
